html {
  margin: 0;
  min-height: 100%;
}

body {
  margin: 0;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  filter: brightness(1.2);
  z-index: -2;
}

/* Stylizace headeru pomocí pozadí a padding */
.header {
    left: 0px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 25, 41);
  text-decoration: none;
  position: fixed;
  top: 0;
  z-index: 9;
}
/* Stylizace odkazů */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 0px;
  font-family: Montserrat;
  
}
/* Stylizace logo odkazu */
.header img {
  width: 70px;
  margin-top: 5px;  
  margin-left: 10px;
}
.header img:hover {
  transform: translateY(-3%);
  
  box-shadow: 0 0 0.6em white;
}



.header a:hover {
  text-shadow: 0 0 5px rgb(116, 110, 116), 0 0 12px rgb(199, 176, 200), 0 0 20px rgb(241, 228, 241);
  color: white;
}

.header a.active {
  background-color: rgb(83, 85, 88);
  color: white;
}
.header-right {
  float: right;
}

@media screen and (max-width: 1200px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.layer1 {
  position: relative;
}

.layer1BgSources {
  font-size: 0.9em;
  position: absolute;
  bottom: -19em;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  padding: 7px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.layer1BgSource1 {
  color: white;

}
.layer1BgSource2 {
  color: white;
}


.layer1Container {
  width: 85%;
  height: 100%;
  border-radius: 1.5em;
  margin: 9em auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2em rgb(69, 69, 69);
}

.layer1Left {
  color: white;
  margin: 3em 2em 3em 5em;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.greetings {
  font-size: 2.2em;
  text-shadow: 0 0 0.8em rgb(255, 255, 255);
  text-align: center;
  font-family: "Montserrat";

}

.description {
  margin-top: 1em;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: justify;
}

.donateNowContainer {
  margin-top: 3em;
}

.donateNow {
  color: white;
  border: 0.2em solid white;
  border-radius: 2em;
  width: 10em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.2em;
  text-decoration: none;
  background-image: linear-gradient(rgba(74, 64, 64, 0.5), rgba(156, 68, 18, 0.5));
  transition: 0.3s;
  font-family: "kawashiro";
}

.donateNow:hover {
  transform: translateY(-3%);
  background: linear-gradient(rgba(68, 41, 41, 0.7), rgba(205, 79, 6, 0.7));
  box-shadow: 0 0 0.6em white;
  
}

.layer1Right {
  width: 50vw;
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer1Image {
  width: 35vw;
  
}

.layer1Caption {
  color: white;
  margin-top: 0.5em;
  font-size: 1.1em;
}

.layer1Source {
  color: white;
}

.layer2Bg {
  background-image: linear-gradient(rgb(58, 52, 57),rgb(100, 43, 84)); 
  margin-top: 18em;
}

.layer2Content {
  padding-top: 1em;
}

.layer2Heading {
  font-size: 2em;
  text-align: center;
  color: white;
  margin: 0.5em 1em 1.5em 1em;
  font-family: "Montserrat";

}

.layer2InfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 2.5em;    
  flex-wrap: wrap;
}

.gameContainer, .fanartContainer, .musicContainer, .heyMisterContainer, .fumoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0px;
}

.gameImage, .fanartImage, .musicVideo, .heyMisterImage, .fumoImage {
  width: 12em;
  height: 14em;
  object-fit: cover;
  border: 0.3em solid rgb(255, 255, 255);
  border-radius: 1.5em;
  box-shadow: 0 10px 30px black;
  transition: 0.3s;
  margin: -0.5em -1em -1em -1em;
}

.gameImage:hover, .fanartImage:hover, .musicVideo:hover, .heyMisterImage:hover, .fumoImage:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgb(214, 34, 190);
}

.fanartSource {
  color: white;
  text-align: center;
  font-size: 0.8em;
  margin-top: -2em;
}

.linkI {
  margin: 1em 2em 0 2em;
  border-radius: 1.5em;
}

.gameSubtext, .fanartSubtext, .musicSubtext, .heyMisterSubtext, .fumoSubtext {
  text-align: center;
  color: white;
  font-size: 1.7em;
  margin: 1em 0 1em 0;
  font-family: "Montserrat";
  z-index: 2;
}

.stuff {
  font-style: italic;
}

.layer3 {
  background-image: url(img/japan-anime-scenery-wallpaper-featuring-beautiful-pink-cherry-trees-mount-fuji-background_685067-1795\ \(1\).webp);
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(1.1);
}

.layer3BgSource {
  background: black;
  border-radius: 1em;
  position: absolute;
  padding: 7px;
  color: white;
  display: block;
  bottom: 5px;
}

.layer3Text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(234, 234, 239);
  border-radius: 1em;
  text-shadow: 0 0 1em rgb(67, 46, 70), 0 0 2em rgb(55, 29, 59);
  font-family: "Montserrat";
  letter-spacing: 0.1em;
  margin: 11em 0;
}

.layer3Quote {
  font-size: 3em;
  text-align: center;
  font-style: italic;
}
.layer3QuoteFrom {
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
}

.footerLayerBg {
  background: rgb(19, 25, 41);
  padding: 1.25em 0;
  box-shadow: 0 0 1em rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}  

.footerLayerAuthor {
  color: white;
  text-align: center;
  font-size: 0.8em;
  margin-top: 0.5em;
  font-family: "izayoi";
}